body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #22668a;
}

.category-aktif {
  background-color: #22668a;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* color pallete */
.color-cream-text {
  color: #B980F0 !important;
}

.color-cream {
  background-color: #B980F0 !important;
}

.color-cream-2-text {
  color: #FE9898 !important;
}

.color-cream-2 {
  background-color: #FE9898 !important;
}

.color-grey-2-text {
  color: #F5E79D !important;
}

.color-grey-2 {
  background-color: #F5E79D !important;
}